<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91187944965-b224d76394cq9lc0k3ej93d0edkafft0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91187944965-b224d76394cq9lc0k3ej93d0edkafft0</string>
	<key>API_KEY</key>
	<string>AIzaSyDHub1ZdWZpW2AwvHF13UqR_evhucH9xNI</string>
	<key>GCM_SENDER_ID</key>
	<string>91187944965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maximegirard.MealMaster</string>
	<key>PROJECT_ID</key>
	<string>mealmaster-94579</string>
	<key>STORAGE_BUCKET</key>
	<string>mealmaster-94579.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91187944965:ios:f14e2bdc71289df898466c</string>
</dict>
</plist>